@import '../variables/colors.styl'
  .page
    --layout-width 900px

    font-family 'Roboto', sans-serif
    font-weight 200
    letter-spacing 1px
    background-color black
    background-attachment fixed
    text-align left
    font-size  14px
    line-height 1.5
    min-height 100vh
    min-width 100%
    cursor default
    color: lighten($color.grey, 5)
    &__viewport
      display flex
      justify-content center
    &__cover
      position fixed
      top 0
      left 0
      width 100vw
      height 100vh
      opacity .3
      &-video
        min-width 100vw
        min-height 100vh
  .layout
      position relative
      z-index 99999
      min-height: 100vh
      display grid
      grid-template-columns 1fr
      grid-template-rows auto 1fr auto
      grid-template-areas "header" "content"
  .content
    grid-area content

    &__viewport
      position relative
      z-index 99999
