@import 'variables/colors.styl'
.body
  margin 0
  padding 0


// Page base elements
.link
  color: $COLOR_PRIMARY
  text-decoration none
  cursor pointer
  &:hover
    text-decoration underline

.list
  &__item
    margin-bottom 1rem
    &-title
      font-size 1.2rem
      color: $color.white
      font-weight bold


.title
  font-weight 200
  font-size 2rem
  color: $color.white
  cursor default
  margin 1rem 0 1.5rem 0
  &--level
    &-2
      letter-spacing 3px
      font-size .9rem
      color: $color.grey
      text-transform uppercase
      margin-top 1em
  &--align
    &-center
      text-align center
    &-right
      text-align right
    &-left
      text-align left
  &--size
    &-small
      font-size 1.5em
    &-normal
      font-size 2em
    &-large
      font-size 2.5em
    &-xlarge
      font-size 3.5em
  &--weight
    &-normal
      font-weight 200
    &-bold
      font-weight 400
    &-xbold
      font-weight 600


.container
  max-width 700px
  margin 0 auto
